body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#ffffff;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}
.sttHeader
{
  
  padding: 15px 2px;
  border: 1px solid black;
  background-color:#333;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 2px;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
  border: 1px solid black;
  background-color:#7DF9FF;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
ul.nav 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#333;
}
#nav li
{
	float: left;
}
#nav li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#nav li a:hover:not(.active) 
{
	 background-color: #111;
}
.active 
{
	 background-color: #04AA6D;
}
.hrStyle
{
	border:1px solid black;
}
hr.new1 
{
  border-top: 1px solid black;
}
.button01 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button4:hover {
  background-color: #555555;
  color: white;
}

/* Hide the Appearance section by default */
#appearance {
  display: none;
}