/* Reset default styles */
* {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  padding-top: 20px; /* Add margin on top */
}

.logo img {
  max-height: 50px;
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: center; /* Center the menu horizontally */
  margin-left: 170px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center; /* Center the menu vertically */
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

nav ul li:not(:last-child):after {
  content: "|";
  position: absolute;
  right: -12px;
  color: #333;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.buttons a {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.signup-button {
  background-color: #f0f0f0; /* Change the background color to #f0f0f0 */
  color: #444; /* Change the font color to #444 */
  border: 2px solid #444 !important; /* Add border color */
}

.login-button {
  background-color: #009688;
  padding: 9px 23px !important;
  margin-right: 20px;
  color: #fff;
}

.header-section {
  text-align: center;
  padding: 40px 0;
  background-color: #f0f0f0;
}

.header-section h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.header-section p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add margin at the bottom */
}

.search-bar input[type="text"] {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 300px;
}

.search-bar button[type="submit"] {
  padding: 11px 18px;
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 30px;
  margin-left: -82px;
  cursor: pointer;
}

#top-charts, #top-rated {
  padding: 40px;
  background-color: #fff;
}

#top-charts h3,
#top-rated h3 {
  text-align: left; /* Align to the left */
  text-decoration: underline;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.tab-navigation {
  list-style-type: none; /* Remove the bullet symbol */
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.tab-navigation li {
  margin-right: 20px;
}

.tab-navigation li a {
  text-decoration: none;
  color: #333;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.tab-navigation li a:hover,
.tab-navigation li a:focus {
  border-bottom: 2px solid #333;
}



.carousel .app-card {
  flex: 0 0 250px;
  margin-right: 20px;
}

.carousel .app-card:last-child {
  margin-right: 0;
}

.carousel img {
  max-width: 100%;
}

.carousel .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

footer {
  display: flex;
  justify-content: space-between; /* Align content on both sides */
  align-items: center; /* Vertically align content */
  padding: 8px 20px;
  background-color: #000;
  color: #fff;
  margin-top: auto;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-link {
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-social-icons {
  display: flex;
  align-items: center;
}

.footer-social-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.footer-social-icon img {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
}

.footer-social-icon:hover {
  text-decoration: underline;
}
.carousel {
  position: relative;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.carousel-arrow:hover {
  background-color: #ddd;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.app-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* Existing styles */
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.app-card img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.app-card h4 {
  margin-bottom: 5px;
  font-size: 18px;
}

.app-card p {
  margin-bottom: 10px;
  color: #777;
}

.app-card .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #009688;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.app-card .button:hover {
  background-color: #0056b3;
}


ul.menu-header{
      background-color: #12a0c7;
      list-style-type:none;
      margin: 0px;
      padding: 0;
      overflow: hidden;
      text-align:justify;
      border-radius:50px;
      opacity:1;
  }
  li.menu-header{
      margin-left:55px;
      padding:15px;
      display :inline-block;	
  }
  li a.button{
      color: white;
      font-size: 25px;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      padding: 10px 20px;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      
      
  }
  li a.button:hover{
      background-color: #6faede;
  }
  .newH3{
	  
	  text-align:left;
	  text-decoration:bold;
	  color:#110de2;
	  font-size:25px;
	  padding-left:15px;
  }
  